html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("brushed.png");
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.silver {
  color: #ccc;
}

.red {
  color: #b8270e;
}

.text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 6em;
  padding: 10px 50px;  
}

.link {
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  transition: color 1s;
  cursor: pointer;
}

.link:hover {
  color: #aaa;
}

.circle {
  /* width and height will be set by javascript */
  position: absolute;
  background: #62c7f1;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
